#aboutskills
{
    margin-left: 250px;
}
#maintitle
{
    margin: 0px 0px 20px 0px;
    padding: 10px;
    background-color: #c5bdb2;
}
.iconcont
{
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#iconparent
{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:30px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
.Iconimg
{
    width: 50%;
    margin: 10px 0px;
}
@media screen and (max-width: 1024px)
{
    #aboutskills
    {
        width: 100%;
        margin-left: 0px;
    }
    #iconparent
    {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        place-items: center;
    }
    .iconcont
    {
        width: 90%;
    }
}
@media screen and (max-width: 455px)
{
    #aboutskills
    {
        width: 100%;
        margin-left: 0px;
    }
    #iconparent
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-items: center ;
    }
    .iconcont
    {
        width: 80%;
    }
}